<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">

    <select id="likeSelect" resultType="com.atguigu.mybatis.pojo.User">
        select * from t_user where username like "%"#{username}"%"
    </select>
    <select id="getAllUser" resultType="com.atguigu.mybatis.pojo.User">
        select * from ${tableName}
    </select>


    <!--int insertUser(User user);-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
      insert into t_user values(null,#{username},#{password},#{age},#{sex})
     </insert>
</mapper>